*{
    box-sizing: border-box;
}
body{
    background-color:#212529;
    color: #fff;
}
.wrapper{
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #fff;
    padding: 3rem;
    border-radius: 1rem;
    margin: 10rem auto 0 auto;
    max-width: 25rem;
}