@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #333652;
    text-align: center;
    font-family: "Montserrat";
}
.buttons-wrapper{
    margin:1rem;
}
#emoji-input{
    border-radius: 1rem;
    padding:1rem;
    width:20rem;
}
.wrapper{
    margin:auto;
    background-color: #E9EAEC;
    border-radius: 1rem;
    padding:1rem;
    border: 1px solid #FAD02C;
}
#emoji-container,.mine{
    font-size: 3rem;
}
